.sidebar {
    width: 60px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    /* border: 2px solid red; */
}

.sidebar button {
    width: 100%;
    padding: 0.8rem;
    background: none;
    border: none;
    color: var(--text-primary);
    transition: all 0.3s ease;
}

.sidebar button:hover {
    background-color: var(--primary-hover);
}

.dark-mode .sidebar {
    background-color: #555;
    /* Darker color for dark mode */
}